
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lora';
    src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}

html {
    font-size: 100%;
}

body {
    font-family: Lato, 'Open Sans', sans-serif;
    color: #203857;
}

header{
    background-color: #1C578E;
    color: #A9D0F5;
    padding: 2rem 0rem;
    text-align: center;
}

div{
    background-color: #A9D0F5;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
}

nav a{
    padding: 0.5rem 1rem;
    color: #1C578E;
    text-decoration: none;
}

nav a:focus, nav a:hover, nav a:active{
    background-color: #1C578E;
    color: #A9D0F5;
}

main{
    padding: 0% 3%;
}

section{
    background-color: #D6BC92;
    padding: 5%;
    margin-bottom: 3%;
}

aside{
    padding: 5% 10%;
    background-color: #8F7A59;
}

footer{
    padding: 5%;
    background-color: #1C578E;
    color: #A9D0F5;
}

footer a{
    color: #D6BC92;
}

h1{
    font-family: Pacifico, 'Open Sans', sans-serif;
    font-size: 2.5rem;
    padding: 1.5rem 0.3rem;
    margin-bottom: 1rem;
    /**border: 3px solid #8F7A59;
    border-radius: 4rem;**/
}

h2, h3{
    margin: 1rem 0rem;
    font-family: Lora, 'Times New Roman', serif;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.2rem;
}

p{
    margin: 1rem 0rem;
    line-height: 1.4;
}

img{
    max-width: 100%;
}

table{
    margin: 1rem 0rem;
    max-width: 100%;
}

th, td{
    border: thin solid #203857;
    padding: 0.5rem;
}

th{
    font-weight: bold;
    background-color: #1C578E;
    color: #cadff3;
}

tr:nth-child(even) {
    background-color: #cadff3;
}

tr:nth-child(odd) {
    background-color: #A9D0F5;
}


@media(min-width: 800px)
{    

    article:nth-child(odd){
        float: left;
        width: 47%;
    }

    article:nth-child(even){
        float: right;
        width: 47%;
    }

    #products::after{
        content: "";
        display: table;
        clear: both;
    }

    section > img{
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }

 
    /*  
    #products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
    }*/

/*
    article:nth-child(odd){
        grid-column: 1/2;
        grid-row: 1/2;
    }

    article:nth-child(even){
        grid-column: 2/3;
        grid-row: 1/2;
    }
*/

    /*#container{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 13rem 30rem 1fr 11rem
    }  
     
    header{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    nav{
        grid-column: 2/3;
        grid-row: 2/3;

    }

    aside{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    main{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    footer{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    nav ul{
        flex-direction: column;
        line-height: 5;
    }*/

}
