
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lora';
    src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}

html {
    font-size: 100%;
}

body {
    font-family: Lato, 'Open Sans', sans-serif;
    color: #203857;
}

header{
    background-color: #EDD99D;
    color: #851341;
    padding: 2rem 0rem;
    text-align: center;
}

div{
    background-color: #B0D1B4;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
}

nav a{
    padding: 0.5rem 1rem;
    color: #1C578E;
    text-decoration: none;
}

nav a:focus, nav a:hover, nav a:active{
    background-color: #1C578E;
    color: #A9D0F5;
}

main{
    padding: 0% 3%;
}

section{
    background-color: #EEC4CA;
    padding: 5%;
    margin-bottom: 3%;
}

h1{
    font-family: Pacifico, 'Open Sans', sans-serif;
    font-size: 2.5rem;
    padding: 1.5rem 0.3rem;
    margin-bottom: 1rem;
}

h2, h3{
    margin: 1rem 0rem;
    font-family: Lora, 'Times New Roman', serif;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.2rem;
}

p{
    margin: 1rem 0rem;
    line-height: 1.4;
}

img{
    max-width: 100%;
}

table{
    margin: 1rem 0rem;
    max-width: 100%;
}

th, td{
    border: thin solid #203857;
    padding: 0.5rem;
}

th{
    font-weight: bold;
    background-color: #1C578E;
    color: #cadff3;
}

tr:nth-child(even) {
    background-color: #cadff3;
}

tr:nth-child(odd) {
    background-color: #A9D0F5;
}

aside{
    padding: 5% 10%;
    background-color: #8F7A59;
    color: #302d27;
}

form{
    background-color: #D6BC92;
    border: medium solid #4b463e;
    padding: 1.5rem;
    line-height: 1.6rem;
}

form > ul > li > label{
    width: 3rem;
    float: left;
    text-align: right;
    margin-right: 0.5rem;
}

form h3{
    margin-bottom: 0rem;
}

input[type="Submit"]{
    padding: 0.5rem;
    background-color: #9b8460;
    color:#302d27;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.1rem #4b463e;
}

footer{
    padding: 5%;
    background-color: #EDD99D;
    color: #851341;
}

footer a{
    color: #D6BC92;
}

@media(min-width: 450px) {
    form{
        width: 20rem;
    }

    input[type="Submit"]{
        margin-left: 15rem;
    }
    
}

@media(min-width: 800px)
{    

    article:nth-child(odd){
        float: left;
        width: 47%;
    }

    article:nth-child(even){
        float: right;
        width: 47%;
    }

    #products::after{
        content: "";
        display: table;
        clear: both;
    }

    section > img{
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }
}
