/*

Färger

Mörk: #06223D
Blå: #0D4680
Grå: #8A9199
Ljus: #B6CCE3
*/



@font-face {
    font-family: 'Pacifico';
    src: url(../../CSS/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Licorice';
    src: url(../../CSS/fonts/Licorice/Licorice-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(../../CSS/fonts/Cantarell/Cantarell-Regular.ttf);
}

html {
    font-size: 100%;
    height: 100%
}

body {
    font-family: Lato, 'Open Sans', sans-serif;
    color: #06223D;
    height: 100%
}

div{
    background-color: #0D4680;
    /*height: 100rem;*/

}

main{
    background-color: #B6CCE3;
    margin: auto;
    padding: 1rem 1rem;
}

h1{
    font-family: Cantarell, 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2{
    /*font-family: Cantarell, 'Times', serif;*/
    margin: 0rem;
    font-size: 1.7rem;
}

h3{
    /*font-family: Cantarell, 'Times', serif;*/
    font-size: 1.2rem;
}

p{
    font-family: Cantarell, 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.4;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #8A9199;
}

img{
    max-width: 100%;
}

header, footer{
    padding: 2rem;
    margin: auto;
    background-color: #06223D;
    color: #ffffff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav{
    background-color: #0D4680;
}

nav a{
  color: #ffffff;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

nav a:hover{
    background-color: #06223D;
}

nav li{
    display: inline;
}

article{
    background-color: #8A9199;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-color: #0D4680;
    border-style: outset;
    border-width: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

}

@media(min-width: 40rem) {

    nav{
        padding-left: 2rem;
    }

    main{
        padding: 1rem 3rem;
    }
    
}

@media(min-width: 60rem) {

    main{
        width: 50rem;
        padding: 1rem 3rem;
        margin-left: 10rem;
    }

    nav{
        padding-left: 0rem;
        float: left;
        width: 10rem;
        margin-bottom: 100%;
    }

    nav li{
        display: block;
    }

    nav a{
        width: 6rem;
        padding: 1.5rem 2rem;
        text-align: left;
    }
}

