/*
@font-face {
    font-family: 'Pacifico';
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}
*/

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #001000;
    margin: auto;
}

header{
    padding: 30px;
    background-color: #6CBB6A;
    color: #FFFFFF;
}

header::after{
    content: "";
    clear: both;
    display: table;
}

header > a{
    float: right;
    width: 50px;
}

main{
    padding: 30px;
}

nav{
    display: flex;
    flex-direction: row;
}

nav > a{
    margin: 10px;
}

footer{
    background-color: #649552;
    color: #EBFCDE;
    padding: 30px 10px;
}

img{
    max-width: 100%;
}

h1{
    font-size: 2rem;
    padding-top: 1.5rem;
}

@media(min-width: 450px) {

    body{
        width: 450px;
    }
    
}