
@font-face {
    font-family: 'Pacifico';
    src: url(../../CSS/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Licorice';
    src: url(../../CSS/fonts/Licorice/Licorice-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(../../CSS/fonts/Cantarell/Cantarell-Regular.ttf);
}

html {
    font-size: 100%;
}

body {
    font-family: Lato, 'Open Sans', sans-serif;
    color: #001000;
}

div{
    background-color: #4D852A;
}

main{
    background-color: #D0FFBA;
    padding: 1rem;
    margin: auto;
}

h1{
    font-family: Cantarell, 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2{
    font-family: Cantarell, 'Times', serif;
    margin: 0rem;
    font-size: 1.7rem;
}

h3{
    font-family: Cantarell, 'Times', serif;
    font-size: 1.5rem;
}

p{
    font-family: Cantarell, 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.4;
}

a{
    color: #D0FFBA;
    text-decoration: none;
}

a:hover{
    color: #4D852A;
}

img{
    max-width: 100%;
}

header, footer{
    padding: 2rem;
    margin: auto;
    background-color: #163800;
    color: #EBFCDE;
}

section > div{
    background-color: #D0FFBA;
    border: 2px solid #D0FFBA;
}

section div:hover{
    border: 2px solid #000000;
}

section{
    display: grid;
    grid-gap: 5px;
    padding: 1rem 0rem 2rem;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


nav{
  float: right;
  display: inline-block;
  padding-right: 0rem;
  direction: rtl;
}

nav a, .dropbtn{
  display: inline-block;
  color: #D0FFBA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover, .dropdown:hover .dropbtn{
  background-color: #4D852A;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
    background-color: #D0FFBA;
}

nav:hover .dropdown-content {
  display: block;
}

@media(min-width: 30rem){

    .item3{
        grid-column-start: 3;
        grid-column-end: 4;
    }

}

@media(min-width: 50rem){

    .item4{
        grid-column-start: 4;
        grid-column-end: 5;
    }

    nav{
        padding-right: 3rem;
    }

}

@media(min-width: 60rem) {

    main{
        width: 50rem;
        padding: 3rem;
    }

    nav{
        padding-right: 4rem;
    }
    
}

