
@font-face {
    font-family: 'Pacifico';
    src: url(../../CSS/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Licorice';
    src: url(../../CSS/fonts/Licorice/Licorice-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(../../CSS/fonts/Cantarell/Cantarell-Regular.ttf);
}

html {
    font-size: 100%;
}

body {
    font-family: Lato, 'Open Sans', sans-serif;
    color: #001000;
}

div{
    background-color: #4D852A;
}

main{
    background-color: #D0FFBA;
    padding: 1rem;
    margin: auto;
}

/*
section{
    background-color: #EBFCDE;
    border-width: 4px;
    border-style: solid;
    border-color: #163800;
    padding: 5%;
    margin-bottom: 3%;
}
*/

h1{
    font-family: Cantarell, 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2{
    font-family: Licorice, 'Times', serif;
    margin: 0rem;
    font-size: 2.3rem;
}

h3{
    font-family: Licorice, 'Times', serif;
    font-size: 1.5rem;
}

p{
    font-family: Cantarell, 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.4;
}

a{
    color: #000000;
}

img{
    max-width: 100%;
}

header, footer{
    padding: 2rem;
    margin: auto;
    background-color: #163800;
    color: #EBFCDE;
}

section > div{
    background-color: #D0FFBA;
    border: 2px solid #FFFFFF;
}

section div:hover{
    border: 2px solid #000000;
}

section{
    display: grid;
    grid-gap: 5px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media(min-width: 60rem) {

    main{
        width: 50rem;
        padding: 3rem;
    }

    .item3{
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .item4{
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
}

